name: Pull request labeler

on:
  schedule:
    - cron: "35 12 * * *"
  # push:
  #   branches: 
  #     - master

jobs:
  triage:
    runs-on: ubuntu-latest 
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }} 
