name: Pull request labeler

on:
  schedule:
    - cron: "00 6,18 * * *"
  push:
    branches: 
      - master

jobs:
  triage:
    runs-on: ubuntu-latest 
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }} 
